 /* element reset */

html, body, h1, h2, h3,
h4, h5, h6, div, button,
ul, li, a, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: content-box;
  background: transparent;
  font-family: "HelveticaNeue-Light";
  font-weight: 300;
  opacity: 1;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-image: url(../images/background.png);
}

button {
  padding: 3px 5px;
  background: black;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

button:active {
  color: #aaa;
}

input {
  background: #eee;
  border: 1px solid #ccc;
  padding: 3px 10px;
  display: block;
  margin: 0 auto;
}

input:focus {
  background: white;
}

/* header */

header {
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  background: black;
  color: white;
  z-index: 500;
}

header h1 {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translateY(50%) translateX(50%);
  font-size: 20px;
  font-weight: bolder;
}

/* main layout */

div.container {
  margin: 60px auto 20px auto;
  max-width: 600px;
}

section.currently-playing {
  float: left;
  width: 240px;
  position: fixed;
}

section.master-library {
  float: right;
  width: calc(100% - 300px);
  position: relative;
}

h1.section-title {
  font-size: 28px;
  color: #73B1B7;
}

div.placeholder {
  width: 240px;
}

/* buttons */

article.buttons {
  margin: 10px auto;
  width: 130px;
  cursor: pointer;
}

article.buttons img {
  border: 2px solid black;
  border-radius: 2px;
  padding: 10px;
  opacity: .7;
}

article.buttons img.play,
article.buttons img.rewind,
article.buttons img.skip {
  background: #F0DBDB;
}

article.buttons img.play:hover,
article.buttons img.rewind:hover,
article.buttons img.skip:hover {
  background: #88e188;
}

article.buttons img.play:active,
article.buttons img.rewind:active,
article.buttons img.skip:active {
  background: #79c879;
}

article.buttons img.pause {
  background: #F0DBDB;
}

article.buttons img.pause:hover {
  background: #ffc04c;
}

article.buttons img.pause:active {
  background: #ffa500;
}

article.buttons img.rewind,
article.buttons img.skip {
  background: #F0DBDB;
}

article.buttons img.rewind:hover,
article.buttons img.skip:hover {
  background: #d8b2d8;
}

article.buttons img.rewind:active,
article.buttons img.skip:active {
  background: #cc99cc;
}

/* playing time */

article.playing {
  height: 23px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #e0fde0;
  opacity: .7;
  margin-bottom: 20px;
  overflow: hidden;
}

article.playing .song-title {
  float: left;
  max-width: 150px;
}

article.playing .time{
  float: right;
}

.song-length-bar {
  background: #8FB7F2;
  height: 50%;
  width: 0;
}

/* albums */

article.playlist,
article.history {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #F0DBDB;
  opacity: .7;
  margin-bottom: 20px;
  padding: 10px 15px;
  max-height: 80px;
  overflow-y: scroll;
}

section.master-library article.album {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #ffffe3;
  opacity: .7;
  color: black;
}

section.master-library button.new-album {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(25%);
}

article.album {
  padding: 10px;
  max-height: 103px;
  overflow: scroll;
}

div.album-info h1.album-title {
  float: left;
  cursor: pointer;
}

div.album-info h1.album-title:hover {
  background: #d5e4fa;
}

div.album-info h1.album-title:active {
  background: #8FB7F2;
}

div.album-info h2.album-artist {
  float: right;
}

article.album ul.songs {
  padding: 0 15px;
}

ul.songs li.song:hover {
  background: #d5e4fa;
}

ul.songs li.song:active {
  background: #8FB7F2;
}

/* songs */

li.song {
  position: relative;
  cursor: pointer;
}

li.song span {
  display: block;
}

li.song span.song-length {
  float: right;
  margin-top: -17px;
}

li.song.playing {
  background: #8FB7F2;
}

/* song form */

form.song input {
  display: inline;
  position: static;
  font-size: 10px;
}

form.song input.title {
  width: 130px;
  margin: 2px 10px 2px 15px;
}

form.song input.minutes,
form.song input.seconds {
  padding: 3px;
}

form.song input.minutes {
  width: 10px;
}

form.song input.seconds {
  width: 20px;
}

/* modal */

section.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

section.modal article.content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  z-index: 20;
  text-align: center;

  background: #DEEDEB;

  width: 500px;
  margin: 20px auto 20px auto;
  padding: 20px;
  border: 2px solid #aaa;
  border-radius: 5px;
  overflow-y: scroll;
}

section.modal article.content button {
  opacity: .8;
}

section.modal article.content button.close-modal {
  position: absolute;
  right: 10px;
  top: 20px;
}

section.modal div.modal-screen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #ccc;
  opacity: .8;
}
